.gradle
.pre-commit-config.yaml
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
doc/src/site/sphinx/doc_build
__pycache__/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.kotlin
.venv

### Example projects fetched by packaging/scripts/clone_examples.py ###
/src/vee/kernel/
/src/vee/linux-x86/
