# Copyright 2025-2026 MicroEJ Corp. All rights reserved.
# MicroEJ Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.

alabaster==1.0.0
babel==2.16.0
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
docutils==0.21.2
ecdsa==0.18.0
furo==2024.8.6
idna==3.10
imagesize==1.4.1
Jinja2==3.1.5
jproperties==2.1.1
MarkupSafe==3.0.2
mermaid-cli
packaging==24.2
pillow==11.1.0
protobuf==3.20.3
Pygments==2.18.0
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.0.0
six==1.17.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.2.3
sphinx-basic-ng==1.0.0b2
sphinx-tabs==3.4.7
sphinx_design==0.6.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.9.2
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
urllib3==2.3.0
sphinx-tabs
